@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Passions+Conflict&display=swap');
/* @import-normalize; */
@import 'normalize.css';

body {
    background-color: #ffe6ee;
}

* {
    box-sizing: border-box;
    font-family: 'Italiana', serif;
}